* {
    box-sizing: border-box;
}

h1 {
    display: flex;
    justify-content: center;
}

h2 {
    background-color: lightgray;
    margin-left: 1em;
}

body {
    margin: auto;
}

nav {
    display: flex;
    justify-content: center;
}

main {
    width: 80%;
    height: auto;
    margin: auto;
    border: black 2px solid;
    background-color: lightgrey;
}

.header-main {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 1em;
}

.personal-info {
    margin-left: 3em;
    width: 60%;
}

.personal-info p {
    margin: 0.2em 0;
}

.image-personal img {
    margin-top: 1em;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

a {
    color: black
}